[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
covid-abm = {editable = true, path = "."}
synthpop = {editable = true, path = "./../synthpop"}
networkx = "==2.8.2"
defaults = {path = "./../defaults"}

[dev-packages]

[requires]
python_version = "3.10"
